.DS_Store
secrets.toml
__pycache__
secrets/
.env
.env.local


# i (naman) need a virtual env so im removing it from git
api/venv


# file where Naman is documenting his progress. 
naman.md



# specific to my computer?????
api/__pycache__/
api/*.pyc
api/*.pyo
api/*.pyd
api/venv/
api/env/
api/.Python
api/*.sqlite3
api/*.db
api/instance/