.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: 350px;
  padding: 30px 0;
  background-color: transparent;
  position: relative;
}

.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid #4b5ae4;
  border-radius: 30px;
  overflow: visible;
  background-color: white;
  box-shadow: 0 4px 12px rgba(75, 90, 228, 0.1);
  transition: all 0.3s ease;
}

.search-input {
  width: 100% ;
}

.search-input .p-autocomplete {
  width: 100% ;
}

.search-input input {
  width: 100% ;
  border: none ;
  padding: 15px 20px ;
  font-size: 16px ;
  outline: none ;
  color: #333 ;
  background: transparent ;
  border-radius: 30px ;
}

.search-input::placeholder {
  color: #999;
  font-weight: 400;
}

.filter-btn {
  position: absolute;
  right: -45px;
  top: 50%;
  transform: translateY(-50%);
  background: #4b5ae4;
  border: none;
  padding: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  box-shadow: 0 4px 12px rgba(75, 90, 228, 0.1);
}

.filter-btn:hover {
  background: #3a48b5;
  transform: translateY(-50%) scale(1.05);
}

.filter-btn img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}
